DATABASE_URL="file:./dev.db"
CLERK_PUBLISHABLE_KEY=pk_test_YWNjdXJhdGUtbG91c2UtMjQuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_etjOxEZKcusQ6j2WGOqSE6dzSpFDu1AndGo7ICxqr8
FRONTEND_URL=http://localhost:5173
PORT=3001
